{:company/legal-name "Synchrony Financial"
 :company/lei "549300RS7EWPM9MA6C78"
 :company/jurisdiction "United States (Delaware)"
 :company/website "https://www.synchrony.com"
 :company/ticker "SYF (NYSE)"}
